{% extends 'Frontend/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">Jeux</div>
                <div class="panel-body">
                    <i class="fa fa-mail-forward"></i>Joris
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
