{% extends 'Frontend/base.html.twig' %}

{% block body %}
{%  for play in plays %}
    <div>
        {%  if play.pictur %}
            <img height="40px" src="/uploads/play/{{  play.pictur  }}"/>
        {%  endif %}
        {{  play.name  }}
    </div>
{%  endfor %}
{% endblock %}
