<footer class="footer1" id="footer1">

    <div class="bg-col">

        <div class="container">
            <div id="footerband">
                <div class="col-md-3">
                    <ul>
                        <li>link 1</li>
                    </ul>
                </div>
                <div class="col-md-3 v-bar">
                    <ul>
                        <li>link 1</li>
                    </ul>
                </div>
                <div class="col-md-3 v-r-bar">
                    <ul>
                        <li>link 1</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>link 1</li>
                    </ul>
                </div>
            </div>


        </div><!-- container -->

    </div>
</footer>