<header class="header1" id="header1">

    <div class="bg-col">

        <div class="container">

            <nav role="navigation" class="navbar navbar-default margin-top-20">
                <div class="navbar-header">
                    <img width="75px" src="{{ asset('images/logo.png') }}">
                </div>

                <div id="navbar-collapse-02" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href=""><i class="fa fa-cubes"></i>&nbsp;Jeux</a></li>
                        <li><a href=""><i class="fa fa-play"></i>&nbsp;Editeur</a></li>
                        <li><a href=""><i class="fa fa-file"></i>&nbsp;Type</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="nav-button" href="" data-selector="nav a, a.edit">Logout</a>
                        </li>
                    </ul>
                </div><!-- navbar-collapse -->
            </nav>


        </div><!-- container -->
    </div><!-- container -->

</header>
