<header class="header1" id="header1">

    <div class="bg-col">

        <div class="container">
            <div id="headerband">
                <div class="header-content">
                    <div class="row header-title">
                        <img width="370px" src="{{ asset('images/title.jpg' ) }}"/>
                    </div>
                    <div class="row">
                        <div class="header-form">
                             {{ render(controller('App\\Controller\\Frontend\\DefaultController::Filter')) }}
                        </div>
                    </div>
                </div>
            </div>




        </div><!-- container -->

    </div>
</header>