<header class="header1" id="header1">

    <div class="bg-col">

        <div class="container">
            <div id="headerband">
                <div class="header-content">
                    <div class="row header-title">
                        <img width="370px" src="{{ asset('images/title.jpg' ) }}"/>
                    </div>
                    <div class="row">
                        <div class="header-form">
                            <div class="form-inline">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users"></i></span>
                                    <input type="text" placeholder="Nombre joueurs" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dashboard"></i></span>
                                    <select class="form-control">
                                        <option>10mn</option>
                                        <option>30mn</option>
                                        <option>1heur</option>
                                    </select>
                                </div>
                                <button  class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Chercher</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div><!-- container -->

    </div>
</header>